@model PlanillaAlumnos.Models.Alumno

@{
    ViewBag.Title = "DetallesAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Alumno</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdadAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdadAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DniAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DniAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistroAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistroAlumno)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Ciudad.NombreCiudad)
        </dd>

    </dl>

    @{
        Html.RenderPartial("components/acordion", 0);
    }

</div>


<p>
    @*@Html.ActionLink("Editar", "EditarAlumno", new { id = Model.Id })*@
    @*@Html.ActionLink("Regresar", "Index")*@
    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-circle-arrow-left" })
    @Html.ActionLink(" ", "EditarAlumno", new { id = Model.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })
</p>
