@using PlanillaAlumnos.Models
@model IEnumerable<Alumno>

@{
    ViewBag.Title = "Planilla Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <h2>Lista de Alumnos</h2>
    </center>

        <div class="container-fluid" style="margin:5px">
            @*@Html.ActionLink("Agregar Alumno", "AgregarAlumno")*@
            <a href="@Url.Action("AgregarAlumno", "Alumno")" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                <span>
                    <strong>Agregar Alumno</strong>
                </span>
            </a>
            @*@Html.ActionLink("Agregar Alumno", "AgregarAlumno", null, htmlAttributes: new { @class = "btn btn-sucess" })*@
            <a class="btn btn-primary glyphicon glyphicon-floppy-save" target=" " href="@Url.Action("generarPDF")"> ReportePDF</a>

        </div>

        <div class=" " style="display: flex; justify-content: end; margin: 5px">
            <form class="form-inline" action="@Url.Action("Index")" method="post">
                <div class="input-group ">
                    <input name="Busqueda" type="text" class="form-control" placeholder="Busqueda" id="txtSearch" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>






        <table id="tabla_alumnos" class="table table-bordered" @*class="cell-border" style="width:100%"*@>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Edad</th>
                    <th>Dni</th>
                    <th>Ciudad</th>
                    <th>Fecha de Registro</th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>

                        @{

                            if (item.Sexo == "M")
                            {

                                <span>Masculino</span>

                            }
                            else
                            {

                                <span>Femenino</span>

                            }


                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dni)
                    </td>
                    <td>

                        @PlanillaAlumnos.Controllers.AlumnoController.NombreCiudad(item.CodCiudad)

                    </td>
                    <td>
                        @item.FechaRegistro.ToShortDateString()
                    </td>
                    <td>
                        @*@Html.ActionLink("Editar", "EditarAlumno", new { id = item.Id })*@
                        @*@Html.ActionLink("Editar", "EditarAlumno", new { id = item.Id }, new { @class = "btn btn-info fa fa-pencil" })*@
                        @*@Html.ActionLink("Detalles", "DetallesAlumno", new { id = item.Id })*@
                        @*@Html.ActionLink("Editar", "EditarAlumno", null, new { id = item.Id }, new { @class = "btn btn-default fa fa-pencil" })*@
                        @Html.ActionLink(" ", "EditarAlumno", "Alumno", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit" })

                        @*@Html.ActionLink("Detalles", "DetallesAlumno", new { id = item.Id }, new { @class = "btn btn-info fa fa-pencil" })*@

                        @Html.ActionLink(" ", "DetallesAlumno", "Alumno", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-th-list" })

                        @*@Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.Id }, new { @class = "aElimina" })*@
                        @Html.ActionLink(" ", "EliminarAlumno", "Alumno", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash aElimina" })


                        
                    </td>
                </tr>
            }

        </table>


        @section Scripts{

            <script>

                $(".aElimina").click(function (event) {
                    if (!confirm('Estas seguro de Eliminar el Alumno?')) {
                        event.preventDefault();
                    }
                });

            </script>

            <script>

                            //$(document).ready(function () {
                            //    $('#tabla_alumnos').DataTable();
                            //});
            </script>





        }
