@using PlanillaAlumnos.Models
@model IEnumerable<Alumno>

@{
    ViewBag.Title = "Planilla Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <h2>Lista de Alumnos</h2>
</center>


<div class="container-fluid" style="margin:5px">
    @*@Html.ActionLink("Agregar Alumno", "AgregarAlumno")*@
    <a href="@Url.Action("AgregarAlumno", "Alumno")" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        <span>
            <strong>Agregar Alumno</strong>
        </span>
    </a>
    @*@Html.ActionLink("Agregar Alumno", "AgregarAlumno", null, htmlAttributes: new { @class = "btn btn-sucess" })*@
    <a class="btn btn-primary glyphicon glyphicon-floppy-save" target=" " href="@Url.Action("generarPDF")"> ReportePDF</a>

</div>


<div class=" " style="display: flex; justify-content: end; margin: 5px">
    <form class="form-inline" action="@Url.Action("Index", "Alumno", new { })" method="post">
        <label class="">Buscar Por: </label>
        <div class="form-group">
            <div class="form-check form-check-inline">
                @Html.RadioButton("Toggle", "false", true, new { @class = "form-check-input" })
                <label class="form-check-label" for="">Apellido</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                @Html.RadioButton("Toggle", "true", false, new { @class = "form-check-input" })
                <label class="form-check-label" for="">Dni</label>
            </div>
        </div>
        <br />
        <div class="input-group ">
            <input name="Search" type="text" value="@ViewBag.Search" class="form-control" placeholder="Busqueda" id="Search" />
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
</div>

@*<div>

    @using (Html.BeginForm("Buscar", "Alumno", FormMethod.Get))
    {
        <table>
            <tr>
                <td>

                    <span><b>Busqueda Por: </b></span>
                    @Html.RadioButton("BusquedaPor", "Apellido", true)
                    <text>Apellido</text>
                    @Html.RadioButton("BusquedaPor", "Dni", true)
                    <text>Dni</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("BusquedaValor", null, new { Class = "form-control", placeholder = "Busque por Apellido o Dni" })
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Buscar" class="btn btn-success" />
                </td>
            </tr>
        </table>

    }

</div>*@



<table class="table table-bordered table-hover table-striped" align="center" @*class="cell-border" style="width:100%"*@>

    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Sexo</th>
        <th>Edad</th>
        <th>Dni</th>
        <th>Ciudad</th>
        <th>Fecha de Registro</th>
        <th align="center">Acciones</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("DetallesAlumno", "Alumno", new { id=item.Id })">@Html.DisplayFor(modelItem => item.NombreAlumno)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoAlumno)
            </td>
            <td>

                @{

                    if (item.SexoAlumno == "M")
                    {

                        <span>Masculino</span>

                    }
                    else
                    {

                        <span>Femenino</span>

                    }


                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniAlumno)
            </td>
            <td>

                @PlanillaAlumnos.Controllers.AlumnoController.NombreCiudad(item.IdCiudad)

            </td>
            <td>
                @item.FechaRegistroAlumno.ToShortDateString()
            </td>
            <td>
                @*@Html.ActionLink("Editar", "EditarAlumno", new { id = item.Id })*@
                @*@Html.ActionLink("Editar", "EditarAlumno", new { id = item.Id }, new { @class = "btn btn-info fa fa-pencil" })*@
                @*@Html.ActionLink("Detalles", "DetallesAlumno", new { id = item.Id })*@
                @*@Html.ActionLink("Editar", "EditarAlumno", null, new { id = item.Id }, new { @class = "btn btn-default fa fa-pencil" })*@
                @Html.ActionLink(" ", "EditarAlumno", "Alumno", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit" })

                @*@Html.ActionLink("Detalles", "DetallesAlumno", new { id = item.Id }, new { @class = "btn btn-info fa fa-pencil" })*@

                @Html.ActionLink(" ", "DetallesAlumno", "Alumno", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-th-list" })

                @*@Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.Id }, new { @class = "aElimina" })*@
                @Html.ActionLink(" ", "EliminarAlumno", "Alumno", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash aElimina" })



            </td>
        </tr>
    }

</table>


@section Scripts{

    <script>

        $(".aElimina").click(function (event) {
            if (!confirm('Estas seguro de Eliminar el Alumno?')) {
                event.preventDefault();
            }
        });

    </script>

    <script>

                                                                            //$(document).ready(function () {
                                                                            //    $('#tabla_alumnos').DataTable();
                                                                            //});
    </script>





}
